header{
    font-family: 'Roboto', sans-serif;
    background:url("../../images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 710px;
}