.google-button input{
    border: none;
    outline: none;
    width: 461px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #5C6BC0;
    border-radius: 57px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 100px;
}
.google-icon{
    position: relative;
    top: 50px;
    left: 50px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .google-button input {
        width: 210px;
        font-size: 10px;
    }

}